html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --accent-color: #4d5ae5;
  --header-navigation-color: #2e2f42;
  --header-contact-color: #434455;

  --body-color: #434455;
  --main-color: #2e2f42;
  --main-team-color: #f4f4fd;
  --title-color: #ffffff;
  --footer-text: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--body-color);
  background-color: var(--title-color);
}

h1,h2,h3,h4,h5,h6,p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
	height: auto;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.cursor {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* -- header -- */
/* - container - */

.page-header {
  /* outline: 2px solid tomato; */
  padding-top: 24px;
  padding-bottom: 24px;

  border-bottom: 1px solid #E7E9FC;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  outline: 2px solid tomato;
  
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
   
}

.page-header .container,
.header-navigation, 
.site-navigation,
.contact-navigation,
.about-list,
.our-job-list,
.team-list {
  display: flex;
}



.site-navigation .item:first-child {
  margin-left: 76px;
}

.site-navigation .item +.item {
  margin-left: 40px;
}
.contact-navigation {
  margin-left: auto;
}

.contact-navigation .item + .item {
  margin-left: 40px;
}

.header-logo-first {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--accent-color);
}

.header-logo-second {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: var(--main-color);
}

.site-navigation-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  

  color: var(--header-navigation-color);
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  color: var(--accent-color);
}

.contact-navigation-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: var(--header-contact-color);
}

.contact-navigation-link:hover,
.contact-navigation-link:focus {
  color: var(--accent-color);
}

/* -- main -- */
/* -- hero -- */
/* - container - */

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  background-color: var(--main-color);
}

.hero .container {
width: 496px;
padding: 0;
}

.hero-title {
  margin-bottom: 48px;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-align: center;
  
  color: var(--title-color);
}

.hero-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  min-width: 169px;
  border-radius: 4px;
  padding: 16px 32px;
  gap: 10px;
  border: 0px;
  color: var(--title-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* -- about us -- */

.about-us {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-list .item + .item {
  margin-left: 24px;
}

.about-list li {
  min-width: 264px;
}

.subtitle {
  margin-bottom: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  

  color: var(--main-color);
}

.text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  letter-spacing: 0.02em;
  
}

.what-are-we-doing {
  padding-bottom: 120px;
}

.second-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--main-color);
}

.our-job-list .item + .item {
  margin-left: 24px;
}

/* -- team -- */

.team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--main-team-color);
}

.team-list-color {
  background-color: var(--title-color);
}

.team-list .item + .item {
  margin-left: 24px;
  text-align: center;
}

.team-list .subtitle {
  margin-top: 32px;
  text-align: center;
}

.team-list .text {
  margin-bottom: 32px;
  text-align: center;
}


/* -- footer -- */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--main-color);
}

.footer-info {
  width: 264px;
}

.footer-logo-first {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--accent-color);
}

.footer-logo-second {
  color: var(--main-team-color);
}

.footer-text {
  margin-top: 16px;
  
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  letter-spacing: 0.02em;

  color: var(--footer-text);
}

/* -- portfolio -- */

.filter-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 72px;
}

.filter-button {
  padding: 12px 24px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;

  color: var(--accent-color);
  background-color: var(--main-team-color);
  border: 1px solid #E7E9FC;
  border-radius: 4px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--title-color);
  background-color: #404BBF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
  0px 2px 1px rgba(0, 0, 0, 0.08), 
  0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-list {
  display: flex;
  padding-bottom: 120px;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list .item {
  width: calc((100% - 24px * 2) / 3);
  background: #FFFFFF;
  border: 1px solid #E7E9FC;
}

.portfolio-list .item .subtitle {
  padding-top: 32px;
  padding-left: 16px;
}

.portfolio-list .item .text {
  padding-left: 16px;
  padding-bottom: 32px;
}


